<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="gcccssubjectsadvising" version="1.2.0" versionCode="15">
	<script id="gcccssubjectsadvising"/>
		<name>HALA2016</name>
		<description>Who would win a fake presidential elections for 2016 if the people of social media votes? No age limit, no biometrics just vote with your social media account and see who social media deems worthy</description>
		<author>Ashbee Morgado</author>
		
		<gap:platforms>
			<gap:platform name="ios"/>
			<gap:platform name="android"/>
			<gap:platform name="webos"/>
			<gap:platform name="symbian.wrt"/>
			<gap:platform name="blackberry" project="widgets"/>
		</gap:platforms>

		<gap:plugin name="org.apache.cordova.media"/>
		
		<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
			<param name="APP_ID" value="403564426499868" />
			<param name="APP_NAME" value="HALA2016" />
		</gap:plugin>
		
		<icon src="icon.png" />
		<icon src="images/icon_36.png" gap:platform="android" gap:qualifier="ldpi" />
		<icon src="images/icon_48.png" gap:platform="android" gap:qualifier="mdpi" />
		<icon src="images/icon_72.png" gap:platform="android" gap:qualifier="hdpi" />
		<icon src="images/icon_96.png" gap:platform="android" gap:qualifier="xhdpi" />

		<preference name="phonegap-version" value="3.6.3"/>
		<feature name="http://api.phonegap.com/1.0/device"/>
		<feature name="http://api.phonegap.com/1.0/media"/>
		<access origin="*" subdomains="true"/>
		<access uri="*" subdomains="true"/>
		<access uri="http://google.com" subdomains="true"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		
		<feature name="InAppBrowser">
			<param name="android-package" value="org.apache.cordova.InAppBrowser"/>
		</feature>

		<feature name="Media">
			<param name="android-package" value="org.apache.cordova.media.AudioHandler"/>
		</feature>

		<preference name="orientation" value="auto"/>
		<preference name="fullscreen" value="true"/>
		<preference name="target-device" value="universal"/>
</widget>
